<%- include('../includes/adminheader.ejs')  %>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-4">
                <h2> Add Product</h2>
                   <div class="card-body">
                    <form action="/add-product" method="post">
                  <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control"  name="title" placeholder="Title">
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">email</label>
                    <input type="email" class="form-control"  name="email" placeholder="email">
                  </div> 
                  <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="tel" class="form-control"  name="phone" placeholder="Phone">
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">password</label>
                    <input type="password" class="form-control"  name="password" placeholder="Password">
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Confirm password</label>
                    <input type="password" class="form-control"  name="confirmpassword" placeholder="Password">
                  </div>
                   <input type="submit" class="btn btn-primary" value="Submit">
                </form>
                  </div>
        </div>
        </div>
    </div>
</div>    
<%- include('../includes/adminfooter.ejs') %> 